<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - netcore1</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="col-md-2">
            <a class="navbar-brand" href="#"><i class="fab fa-angrycreative fa-4x"></i></a>
            <span class="text-muted">Welcom</span>
        </div>
        <div class="col-md-7">
            <form class="row">
                <div class="col-md-8">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="row mb-2">
                <a href="/change-language/vi" class="img-thumbnail m-1"><img src="{{asset('')}}" alt="Vietnam"></a>
                <a href="/change-language/en" class="img-thumbnail m-1"><img src="{{asset('')}}" alt="English"></a>
                <a href="/change-language/jp" class="img-thumbnail m-1"><img src="{{asset('')}}" alt="Japan"></a>
                <a href="#" class="img-thumbnail m-1"><img src="{{asset('')}}" alt="China"></a>
            </div>
            <img src="https://www.overleaf.com/assets/logos/overleaf_og_logo.png" alt=""
                 class="img-thumbnail rounded-circle w-25 mr-2 float-left">
            <div class="mt-3">
                <strong>Admin</strong>
                <a href="#">(Logout)</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid row mt-2">
        <nav class="col-md-2">
            <div class="nav flex-column nav-pills">
                <a class="nav-link" href="/admin/bakery/list">Home</a>
                <a class="nav-link{{$currentPage=='bakery-list'?' active':''}}" href="/admin/bakery/list">Bakery Manager</a>
                <a class="nav-link" href="/admin/category">Category Manager</a>
                <a class="nav-link" href="/admin/article">Article Manager</a>
                <a class="nav-link" href="#v-pills-settings">Settings</a>
            </div>
        </nav>
        <main class="col-md-10">
            @RenderBody()
            @*@RenderSection("Scripts", required: false)*@
        </main>
    </div>
    <footer class="container-fluid mt-3 mb-3">
        <p class="text-center">Copyright </p>
    </footer>
</body>
</html>
